@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
/*font-family: 'Major Mono Display', monospace;*/
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
/*font-family: 'Special Elite', cursive;*/

* {
    margin: 0; padding: 0;
}

body{
    overflow-x: hidden;
}


/*------------\
|    MENU     |
\------------*/
nav{
    display: flex;
    position: fixed;
    width: 5vw;
    height: 100vh;
    background-color: black;
    z-index: 1;
}

#nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-flow: column wrap;
    width: 80%;
    height: 80%;
   
}

.nav-list-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-flow: column wrap;
    font-family: 'Major Mono Display', monospace;
    font-size: 3em;
    padding-left: .2em;  
}

.nav-list-link{
    color: #ffffff;
    text-decoration: none;
}

.nav-list-link:hover{
    transform: scale(1.1);
    transition: .5s;
}

.nav-list-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-flow: column wrap;
    padding-left: 1em;
    width: 3.5em;
    height: 3.5em;
}

/*------------\
|    MAIN     |
\------------*/
header{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

#background-main{
    display: flex;
    position: absolute;
    background: url('../img/background-felipe.jpg');
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    z-index: 0;
    width: 100%;
    height: 15%;
}

#title h1{
    font-family: 'Major Mono Display', monospace;
    font-size: 5em;
    text-shadow: 13px 13px 50px black;
    color: #ffffff;
}

#main{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: center;
    z-index: 0;
    width: 100%;
    height: 85%;
}

#main img{
    padding-left: 1em;
    width: 25em;
    height: 25em;
    filter: opacity(.4);
}


/*------------\
|  BIOGRAFIA  |
\------------*/
#bio{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 130vh;
}

#background-bio{
    display: flex;
    position: absolute;
    background: url('../img/background-textura.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 130%;
    z-index: -1
}

#bio-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 25%;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 13px 13px 50px black;
}

#bio-txt p{
    display: flex;
    padding: 2em;
    text-align: justify;
    text-indent: 2em;
    font-family: 'Special Elite', monospace;
    font-size: 1.3em;
    line-height: 1.7em;
}

#band{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 70%;
}

#band a{
    position: absolute;
    display: block;
}
#hannah{width: 10em; height: 26em; left: 13em; top: 10em;}
#ramiro{width: 13em; height: 29em; left: 27em; top: 7em;}
#esther{width: 10em; height: 26em; left: 44em; top: 10em;}
#felipe{width: 17em; height: 26em; left: 63em; top: 10em;}

#hannah:hover ~ #background-band{
    display: flex;
    background: url('../img/band-hannah.jpg');
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: .5s;
}

#ramiro:hover ~ #background-band{
    display: flex;
    background: url('../img/band-ramiro.jpg');
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: .5s;
}

#esther:hover ~ #background-band{
    display: flex;
    background: url('../img/band-eshter.jpg');
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: .5s;
}

#felipe:hover ~ #background-band{
    display: flex;
    background: url('../img/band-felipe.jpg');
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: .5s;
}

#background-band{
    display: flex;
    background: url('../img/band.jpg');
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*------------\
|   MUSICA    |
\------------*/
#music{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#background-music{
    display: flex;
    position: absolute;
    background: url('../img/background-textura.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(.5em);
}

#disc{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 60%;
    height: 100%;
}

#disc img{
    width: 50%;
}

#disc-info{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: wrap;
    width: 40%;
    height: 100%;
}

#disc-info-title{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 30%;
}

#disc-title{
    font-size: 2.5em;
    font-family: 'Special Elite', monospace;
    color: #000000;
}

#streaming-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    width: 80%;
    height: 40%;
    background-color: #607D8B;
}

.icons{
    margin: 2em;
    width: 2em;
}

#buttons{
    display: flex;
    justify-content: stretch;
    align-items: center;
    align-content: center;
    flex-flow: column wrap;
    width: 100%;
    height: 30%;
}

#download-btn{
    background-color: rgba(96, 125, 139, .8);
    border: none;
    margin: 1em 0;
    width: 40%;
    height: 15%;
    font-family: 'Special Elite', monospace;
    color: #ffffff;
}

#buy-btn{
    background-color: rgba(96, 125, 139, .8);
    border: none;
    margin: 1em 0;
    width: 40%;
    height: 15%;
    font-family: 'Special Elite', monospace;
    color: #ffffff;
}

/*------------\
|   CONTATO   |
\------------*/
#contact{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    width: 100vw;
    height: 80vh;
}

#background-contact{
    display: flex;
    position: absolute;
    background: url('../img/backgraound-wall.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

form{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin-top: 2em;
    margin-left: 10em;
}

form label{
    font-size: 1.5em;
    font-family: 'Special Elite', monospace;
    color: #ffffff;
    margin: .5em 0;
}

#mensage{
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    margin-top: .5em;
    width: 150%;
    height: 55%;
  
}

#send, #email, #name{
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    padding: .5em 0;
    margin-top: .5em;
    width: 150%;
    height: 35%;
    font-family: 'Special Elite', monospace;
    color: #ffffff;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 20vh;
    background-color: rgb(34, 34, 34);
}

#footer-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 50%;
    height: 100%;
}

#footer-title h3{
    font-family: 'Major Mono Display', monospace;
    margin-left: 6.5em;
    font-size: 1.5em;
    text-shadow: 13px 13px 50px black;
    color: #ffffff;
}

#social-media{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    flex-flow: column wrap;
    width: 50%;
    height: 100%;
}

#social-media h3{
    font-family: 'Major Mono Display', monospace;
    font-size: 1em;
    margin-right: 22em;
    text-shadow: 13px 13px 50px black;
    color: #ffffff;
}

#midia-icons{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    margin-right: 4em;
}

.icons-footer{
    margin: 1em 2em;
    width: 2em;
}